<br>
<br>
<h1 class="text-center" id= "logo">Plannit</h1>
<h4 class="text-center heading">Discover your dreams and plan your next trip ..</h4>

<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                <form class="login" action = '/companions/login' method ="POST">
                  <input type="text" placeholder="email" />
                  <input type="password" placeholder="password" />
                  <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
                </form>
                <p>
                <div class="text-center">
                  <%= link_to "Not a member yet, Sign-up! to see what Plannit can do for you!", '/companions/signup' %>
                  
                </div>
                </p>
            </div>
        </div>
    </div>


</div>