<h2><%= @companion.fullname %>'s' Plans</h2>

<% if @plans %>
<p>You have not created any plans. Add a plan <%= link_to "here", new_plan_path %> </p>
<% else %>
<p>Your plan(s) are listed below:</p>
<% end %>
<ul>
<% @plans.each do |plan| %>
<%= link_to plan.name, plan %>
<% end %>
</ul>

